<div class="col-md-3"  style="border: thin lightpink solid; border-radius: 5px;padding: 1em;">
    <h2>Add a new car</h2>
    <table>
        <tr>
            <td>Year: <input type="number" ng-model="" id="year" placeholder="Year"></td>
        </tr>
        <tr>
            <td>Registered: <input type="date" ng-model="" date-format="MM/dd/yyyy" date-type="string" id="registered" placeholder="Registered"></td>
        </tr>
        <tr>
            <td>Make: <input type="text" ng-model="" id="make" placeholder="Make"></td>
        </tr>
        <tr>
            <td>Model: <input type="text" ng-model="" id="model" placeholder="Model"></td>
        </tr>
        <tr>
            <td>Description: <input type="text" ng-model="" id="description" placeholder="Description"></td>
        </tr>
        <tr>
            <td>Price: <input type="text" ng-model="" id="price" placeholder="Price"></td>
        </tr>
    </table>
    <button type="submit" ng-click="">Save</button>
</div>
